# Copyright Notice
# Copyright (c) 2024 RememberHer. All rights reserved.
# Proprietary code - unauthorized use prohibited.

* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

